<footer>
    <div class="footer-div">
        <div class="footer-div-next " id="div-foot-one">
            <img src="" alt="logo">
            <p class="copyright-div">Copyright © Name, Inc</p>
        </div>
        <div class="footer-div-next two" id="div-foot-two">
            <div style="size: 50px;" id="social-icon-text-id" class="social-icon-text">
                <div style="display: flex; justify-content: start; align-items: center;">

                    <div>
                        <a href=""> <i style="margin-left:10px; color: #a685ed;" class="bi bi-instagram"></i>
                        </a>
                    </div>
                    <div id="social-text" class="footer-text"> <a href="" class="social-dec">
                            <p style="color: white; margin-left: 33px;">Instagram</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="social-icon-text">

                <div style="display: flex; justify-content: start; align-items: center;">

                    <div>
                        <a class="social-dec" href=""> <i style="color: #0077B5;" class="bi bi-linkedin"></i>
                        </a>
                    </div>
                    <div id="social-text"> <a class="social-dec" href="">
                            <p class="footer-text" style="color: beige;  margin-left: 30px; ">LinkedIn</p>
                        </a>
                    </div>
                </div>



            </div>
            <div class="social-icon-text">
                <div style="display: flex; justify-content: start; align-items: center; margin-left: -15px;">

                    <div>
                        <a href=""><i style="color: #f0f8ff;" class="bi bi-github"></i>
                        </a>
                    </div>
                    <div id="social-text"> <a class="social-dec" href="">
                            <p class="footer-text" style="color: beige; margin-left: 30px;">Github</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-div-next three" id="div-foot-three">
            <div class="div-foot-three-one">
                <div class="legal-privacy-security social-dec"><a href="">
                        <p class="footer-text">Legal stuff</p>
                    </a></div>
                <div class="legal-privacy-security social-dec"><a href="">
                        <p class="footer-text" style="color: white;">Privacy Policy</p>
                    </a></div>
                <div class="legal-privacy-security social-dec"><a href="">
                        <p class="footer-text" style="color: #f0f8ff;">Security</p>
                    </a></div>
            </div>
        </div>
    </div>
</footer>