<header class="header">
    <div class="nav-bar">
        <div class="logo-area">
            <div style="width: 50px;">
                <img class="img-logo" src="/res/dubai.jpeg" alt="">
            </div>
            <div class="logo-name 	font-effect-3d">
                <p>Hehehe</p>
            </div>
        </div>
        <div style="padding-right: 20px;">
            <ul class="nav-bar-ul">
                <li class="nav-font"><a href="#">Home</a></li>
                <li class="nav-font"><a href="#">Offers</a></li>
                <li class="nav-font"><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
</header>