<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landingPage.css">
    <link rel="stylesheet" href="/css/locationPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>
        <%=title%>
    </title>
</head>

<body style="margin: 0px; padding: 0px;">



    </header>
    <main style="margin: 0px;">
        <div
            style="background-image: url('/res/bali2.webp'); width: 100vw; height: 100vh; background-size: cover; margin: 0px;">
            <header class="header">
                <div class="nav-bar">
                    <div class="logo-area">
                        <div style="width: 50px;">
                            <img class="img-logo" src="/res/dubai.jpeg" alt="">
                        </div>
                        <div class="logo-name 	font-effect-3d">
                            <p>Hehehe</p>
                        </div>
                    </div>
                    <div style="padding-right: 20px;">
                        <ul class="nav-bar-ul">
                            <li class="nav-font"><a href="#">Home</a></li>
                            <li class="nav-font"><a href="#">Offers</a></li>
                            <li class="nav-font"><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>

        </div>
        <div class="main-content">]
            <div style="display: flex; align-items: center; justify-content: center;">
                <div>
                    <h1 class="content-headings">Bali</h1>
                </div>
            </div>
            <div class="main-content-heading-div">
                <h2 class="content-headings">Discover Bali: Where Tranquility Meets Adventure</h2>
            </div>
            <div class="main-content-div">
                <p class="content-paragraph">Welcome to the enchanting island paradise of Bali, where every corner tells
                    a story of rich culture,
                    breathtaking landscapes, and unparalleled experiences. Nestled in the heart of Indonesia, Bali
                    beckons
                    travelers with its diverse tapestry of vibrant traditions, serene temples, lush rice terraces, and
                    pristine beaches.</p>
            </div>
            <!-- second divs -->
            <div class="main-content-heading-div">
                <h2 class="content-headings">Natural Wonders:</h2>
            </div>
            <div class="main-content-div">
                <p class="content-paragraph">Bali's natural beauty is unparalleled. Lose yourself in the emerald-green
                    rice terraces of Tegallalang or hike through the misty jungles of Ubud to discover hidden waterfalls
                    cascading into crystalline pools. Chase the sunrise from the summit of Mount Batur or unwind on the
                    powder-soft sands of beaches like Kuta, Seminyak, or Jimbaran, each offering its unique charm.</p>
            </div>
            <!-- third divs -->
            <div class="main-content-heading-div">
                <h2 class="content-headings">Adventures Await:</h2>
            </div>
            <div class="main-content-div">
                <p class="content-paragraph">For thrill-seekers, Bali is a playground. Surf the legendary breaks at
                    Uluwatu, dive into vibrant coral reefs teeming with marine life, or trek through dense forests and
                    encounter diverse wildlife. Bali's diverse landscape offers opportunities for biking, white-water
                    rafting, and even exploring volcanic landscapes.</p>
            </div>
            <!-- fourth div -->
            <div class="main-content-heading-div">
                <h2 class="content-headings">Hospitality and Accommodations:</h2>
            </div>
            <div class="main-content-div">
                <p class="content-paragraph">Discover unparalleled hospitality in Bali's diverse range of
                    accommodations, from boutique villas nestled in rice paddies to luxurious beachfront resorts. Each
                    stay promises comfort, elegance, and a glimpse into the island's unique charm.

                    Embark on a journey to Bali, where every moment unfolds into an unforgettable experience. Whether
                    seeking adventure, cultural exploration, or serene relaxation, Bali invites you to create timeless
                    memories in this exquisite tropical paradise..</p>
            </div>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>